.image {
  padding-right: 2rem;
}

.image img {
  width: 200px;
  height: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border: none;
  border-bottom: 5px solid rgb(225, 0, 0);
  border-right: 5px solid rgb(225, 0, 0);
  border-bottom-right-radius: 25px;
  margin-top: 2rem;
}

.results {
  margin-top: 2rem;
}
