.heading {
  display: flex;
  align-items: center;
  color: #ccc;
  padding: 0.3rem 0.5rem;
  border-bottom: 2px solid rgb(225, 0, 0);
  border-right: 2px solid rgb(225, 0, 0);
  border-bottom-right-radius: 10px;
  margin-bottom: 0.5rem;
}

.heading p {
  width: 40%;
  text-align: center;
}

.heading p:first-child,
.heading p:last-child {
  width: 10%;
}

.driver-standings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
