.body {
    background: rgba(0, 0, 0, .85);
}

.charts {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-template-rows: 18rem 30rem;
    grid-gap: 2%;
}

.test-div {
    background: blue;
    border-radius: 10px;
}
.test-div2 {
    background: violet;
    border-radius: 10px;
}