.nav {
    padding: .3rem 15%;
}

.user ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.user ul li {
    cursor: pointer;
    color: rgb(94, 94, 94);
    font-size: .9rem;
}

.user ul li:hover {
    border-bottom: 2px solid rgb(225,0,0);
    color: rgb(225,0,0);
}

.user ul button {
    color: white;
    border: none;
    padding: .5rem .7rem;
    background: rgb(225,0,0);
    border-radius: 5px;
    font-size: .75rem;
    border: 2px solid rgb(225,0,0);
}

.user ul button:hover{
    color: black;
    background: white;
    cursor: pointer;
}

.user ul button i {
    margin-right: .2rem;
}
