.titles {
  background: rgb(56, 56, 56);
  background-image: url("../../../images/history/hamilton_schumacher.png");
  background-size: cover;
  border-radius: 10px;
  padding: 1rem;
  transition: all 0.4s;
}

.titles:hover {
  background: rgb(41, 41, 41);
  background-image: url("../../../images/history/hamilton_schumacher.png");
  background-size: cover;
  background-position-x: right;
}
