.standing div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.standing p {
    font-size: 1.2rem;
    font-weight: bold;
}

.standing h1 {
    margin-bottom: 1.5rem;
}